@import "bootstrap";

a,
a:focus,
a:hover {
  color: #000;
}

.expense-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

.expense-value {
  font-size: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 0.8em;
}

.main {
	position: absolute;
	padding-top: 10px;
	left: 350px;
}

.actions {
  padding-top: 5px;
  margin-bottom: 0.8em;
}

#error_explanation {
 background-color: #f2dede;
 color: #a94442;
 text-align: left;
 padding: 5px 20px;
 margin-bottom: 30px;
}

#error_explanation h2 {
 font-size: 150%;
}

